<form role="search">
    <input 
        type="text" 
        id="search-input" 
        class="form-control form-control-sm" 
        placeholder="Search movies..."
        style="width: 200px;"
        autocomplete="off"
    >
</form>