<form role="search">
  <input
    type="text"
    id="search-input"
    class="form-control"
    placeholder="Search movies..."
    autocomplete="off"
    aria-label="Search movies"
    style="min-width: 200px;"
  />
</form>