<form role="search">
    <input 
        type="text" 
        id="search-input" 
        class="form-control" 
        placeholder="Search movies..."
        style="width: 200px;"
        autocomplete="off"
        aria-label="Search movies"
    >
</form>