<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Immagine presa da https://icons8.it/icon/624/documentary -->
    <link type="image/png" sizes="16x16" rel="icon" href="/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    {{#if isHomepage}}
        <link rel="stylesheet" href="/css/homepage.css">
    {{/if}}
    {{#if isMoviesPage}}
        <link rel="stylesheet" href="/css/movies.css">
    {{/if}}
    {{#if isMovieDetailsPage}}
        <link rel="stylesheet" href="/css/movie-details.css">
    {{/if}}
    
</head>
<body>
    <!-- Navigation Header -->
    {{> navbar}}

    <!-- Main Content Area -->
    <main class="main-content">
        {{{body}}}
    </main>

    <!-- Footer Component -->
    {{> footer}}

    <!-- Loading Overlay -->
    <div id="loading-overlay" class="loading-overlay d-none">
        <div class="text-center">
            <div class="spinner-border text-cinema-gold mb-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text-white">Loading...</p>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    

    <!-- Main JavaScript -->
    <script src="/js/main.js"></script>

    {{#if isHomepage}}
        <script src="/js/homepage.js"></script>
    {{/if}}
    {{#if isMoviesPage}}
        <script src="/js/movies.js"></script>
    {{/if}}
    {{#if isMovieDetailsPage}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/movieDetails.js"></script>
    {{/if}}
    
</body>
</html>